body{
    font-size: 14px;
    font-family: $main-font;
    line-height: 1.2;
    opacity: 0;
    
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        opacity: 1;
    }
}

a {
    $color: #00a3ff;

    color: $color;
    text-decoration: underline;

    &:hover{
        color: darken($color, 10%);
        text-decoration: none;
    }
}
