.img-responsive {
    max-width: 100%;
    height: auto;
}

.hide {
    display: none !important;
}

.is-hidden {
    display: none !important;
}

.center-block {
    margin: 0 auto;
    display: block;
}

.w-100 {
    width: 100%;
}

.hidden-then-md {

    @media (max-width: $smaller-then-md) {
        display: none;
    }
}

.visible-then-md {

    @media (min-width: $md) {
        display: none;
    }
}
