@@include('../components/_header-page.html', {
    "title": "HomeImprovementBlog"
})

@@include('../components/_svg-sprites.html')

<style>
    .header-page .brand-logo {
        cursor: default !important;
        pointer-events: none !important;
    }
</style>

<main class="main-page">
    <div class="article">
        <div class="container">
            <h1 class="article-title">
                Why Skilled Handymen Would <u>Never Clean</u> His Gutters... No Matter How Many Pine Trees <i>(or any other type)</i> Grow Around The House
            </h1>

            <p>
                Many homeowners never actually cleaned their gutters as well. 
                But not for "good" reasons... Here is what I mean - most of us, 
                homeowners in the US, are forced to climb the ladder or hire 
                someone to do the cleaning job only when it is far too late...
            </p>
            <p>
                When we see a bird nest on top of our gutters, 
                or when we spot a leak in our basement, or when our 
                gutters turn into rotten filthy tubes and fall off.
            </p>
            <p>
                The reasons are always different.
            </p>
            <p>
                Now, to be clear - the moment you realize your gutters 
                did fail, it's not too late... it's FAR FAR too late. 
                That means - when you spot a leak in your basement, 
                it's not like you can fix it by cleaning your gutters - 
                that ship has long sailed by that time … You will have 
                to remove your gutters, check for rot on your fascia board, 
                likely reinstall gutters and downspouts. (Not to mention do 
                a complete repair on everything the leaked has touched).
            </p>

            <div class="article-media media-illustration">
                <img src="./images/1.jpg" class="img-responsive center-block" alt="">
            </div>
            <p>
                Yet, here is why a skilled handyman or an experienced 
                homeowner would never clean the gutters - 
                <u>with no "far to late" consequences</u>.
            </p>
            <p>
                No, it's not that they have some <i>"special"</i> trees growing 
                around or they have a leaf blower on top of their roof.
            </p>
            <p>
                This is far simpler - they protect their gutters from 
                clogs at <b>ALL times.</b>
            </p>

            <div class="article-media media-illustration">
                <img class="img-responsive center-block lazy" src="./images/2.jpg" alt="">
            </div>

            <p>
                You probably saw an ad or two about so-called gutter protection systems.
            </p>
            <p>
                If you did not, not to worry, keep on reading 
                and you will get the idea by the end of this article.
            </p>
            <p>
                So the question is: can these "ultimate" solutions pass 
                the debris and hard-rain tests? More importantly, can 
                they withstand the test of time?!
            </p>
            <p>
                Many of them claim to work in any weather and <i>block 
                everything except for water</i>. Yet, in reality, most 
                of these systems fail within months... or require 
                routine maintenance, just like unprotected gutters.  
            </p>

            <div class="article-media media-illustration">
                <img class="img-responsive center-block lazy" src="./images/3.jpg" alt="">
            </div>

            <p>
                With this in mind, we've conducted our own research. 
                Interviewed thousands of homeowners and battle-tested 
                the most popular solutions out there.
            </p>
            <p>
                For example, after our homeowner Q&A we found out that 
                93% of these solutions "age out" pretty quick due to 
                <strong>algae build-up</strong>. Or our lab test revealed that most of 
                them fail the <i>"sap-pollen-experiment"</i> (even though nobody 
                seems to mention the existence of such a problem on their website).
            </p>
            

            <div class="article-media media-illustration">
                <img class="img-responsive center-block lazy" data-src="./images/4.jpg" alt="">
            </div>
            
            <p>
                So, is there any system that actually works? 
                After our research, our main concerns were algae protection, 
                high water flow, micro clogs ...and (of course) homeowner-reviews 
                and what <strong>Pro handymen have on top of their gutters.</strong>
            </p>
            <p>
                So here's why we think the solution called <a href="https://gutter-ex.com/product-4/index.html">GutterEx</a>
                (displayed on the picture below) stands behind its promises:
            </p>

            <ul class="list-check">
                <li class="list-check-item">
                    <p>
                        It is the only gutter protection that is 
                        recognized by the <strong>US patent office to be 
                        self-cleaning and effective against all 
                        types of clogs.</strong> In fact, the guru and inventor 
                        behind the GutterEx has 7 patents under his belt... 
                        Improving this system with each one since 1999. *
                    </p>

                    <div class="list-check-item-holder article-media media-illustration">
                        <img class="img-responsive center-block lazy" data-src="./images/5.jpg" alt="">
                    </div>
                </li>

                <li class="list-check-item">
                    <p>
                        This is the only solution that features complete 
                        algae protection. Unique copper weaving <u>attacks oils, 
                        algae, moss, tree sap and organisms</u> that flow from 
                        your roof every time it rains.
                    </p>
                </li>

                <li class="list-check-item">
                    <p>
                        It is backed up by a 35-year warranty. If you're not satisfied 
                        (for any reason) the company would gladly buy-back the product 
                        from you... no questions asked.
                    </p>
                </li>

                <li class="list-check-item">
                    <p>
                        It is a self-installed product. This one of the MAIN 
                        reasons we chose GutterEx too. 
                    </p>
                    <p>
                        You see, unlike any of the so-called "Pro-installed-only" 
                        products they do not jack up the prices... there's simply 
                        no middleman involved. Of course, you always can hire someone 
                        to install them for you if needed. But, the labor cost for the 
                        local contractor would be 10 TIMES cheaper than what you would 
                        pay for a "pro-installation-crew"...
                    </p>
                    <p>
                        Yet, it's very different than any other "cheap" DIY gutter guard too. 
                    </p>
                    <p>
                        GutterEx is the type of protection that large corporations 
                        wish to "white label"... due to it's patented micro-filtration, 
                        water-pulling properties, durability, algae resistance and so on.
                    </p>
                    <p>
                        As most of the self-install covers are not that effective 
                        against micro debris and require routine maintenance.
                    </p>
                    <p>
                        Take a look below to see the difference between different solutions:
                    </p>

                    <div class="list-check-item-holder">
                        <div class="table table--shadow text-center">
                            <div class="table_row table_thead">
                                <div class="table_col table_th">
                                    <div class="table_col-content media-illustration">
                                        <img src="./images/roof.svg" class="table_th-icon img-responsive center-block" alt=""/>
                                    </div>
                                </div>
                                <div class="table_col table_th table_th-triangle table_th--success">
                                    <div class="table_col-content">
                                        GutterEx
                                    </div>
                                </div>
                                <div class="table_col table_th table_th-triangle table_th--danger">
                                    <div class="table_col-content">
                                        Pro-installed Products
                                    </div>
                                </div>
                            </div>
                            <div class="table_row">
                                <div class="table_col">
                                    <div class="table_col-content">
                                        <strong>Maintenance-Free</strong>
                                    </div>
                                </div>
                                <div class="table_col">
                                    <div class="table_col-content media-illustration">
                                        <i class="icon-svg table_icon">
                                            <svg>
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                                            </svg>
                                        </i>
                                    </div>
                                </div>
                                <div class="table_col">
                                    <div class="table_col-content media-illustration">
                                        <i class="icon-svg table_icon">
                                            <svg>
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                                            </svg>
                                        </i>
                                    </div>
                                </div>
                            </div>
                            <div class="table_row">
                                <div class="table_col">
                                    <div class="table_col-content">
                                        <strong>Algae, sap & pollen protection</strong>
                                    </div>
                                </div>
                                <div class="table_col">
                                    <div class="table_col-content media-illustration">
                                        <i class="icon-svg table_icon">
                                            <svg>
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                                            </svg>
                                        </i>
                                    </div>
                                </div>
                                <div class="table_col">
                                    <div class="table_col-content media-illustration">
                                        <i class="icon-svg table_icon">
                                            <svg>
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
                                            </svg>
                                        </i>
                                    </div>
                                </div>
                            </div>
                            <div class="table_row">
                                <div class="table_col">
                                    <div class="table_col-content">
                                        <strong>Price per foot</strong>
                                    </div>
                                </div>
                                <div class="table_col">
                                    <div class="table_col-content">
                                        $5
                                    </div>
                                </div>
                                <div class="table_col">
                                    <div class="table_col-content">
                                        $25+
                                    </div>
                                </div>
                            </div>
                            <div class="table_row">
                                <div class="table_col">
                                    <div class="table_col-content">
                                        <strong>Keeps out ALL debris</strong>
                                    </div>
                                </div>
                                <div class="table_col">
                                    <div class="table_col-content media-illustration">
                                        <i class="icon-svg table_icon">
                                            <svg>
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                                            </svg>
                                        </i>
                                    </div>
                                </div>
                                <div class="table_col">
                                    <div class="table_col-content media-illustration">
                                        <i class="icon-svg table_icon">
                                            <svg>
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                                            </svg>
                                        </i>
                                    </div>
                                </div>
                            </div>
                            <div class="table_row">
                                <div class="table_col">
                                    <div class="table_col-content">
                                        <strong>Do-it-yourself installation</strong>
                                    </div>
                                </div>
                                <div class="table_col">
                                    <div class="table_col-content media-illustration">
                                        <i class="icon-svg table_icon">
                                            <svg>
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                                            </svg>
                                        </i>
                                    </div>
                                </div>
                                <div class="table_col">
                                    <div class="table_col-content media-illustration">
                                        <i class="icon-svg table_icon">
                                            <svg>
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
                                            </svg>
                                        </i>
                                    </div>
                                </div>
                            </div>
            
                            <div class="table_row">
                                <div class="table_col">
                                    <div class="table_col-content">
                                        <strong>Financing available</strong>
                                    </div>
                                </div>
                                <div class="table_col">
                                    <div class="table_col-content media-illustration">
                                        <i class="icon-svg table_icon">
                                            <svg>
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
                                            </svg>
                                        </i>
                                    </div>
                                </div>
                                <div class="table_col">
                                    <div class="table_col-content media-illustration">
                                        <i class="icon-svg table_icon">
                                            <svg>
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                                            </svg>
                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                </li>

                <li class="list-check-item">
                    <p>
                        It is the system that <strong>pro-Handymen install on their 
                        own houses</strong>. For example, here's what Bob Jackson, Founder 
                        of HandymanHowTo, said about <a href="https://gutter-ex.com/product-4/index.html">GutterEx</a>:
                    </p>

                    <blockquote>
                        This gutter protection has performed exceptionally well during late winter heavy rainstorms. The rainwater soaks through within the 1st inch of micro-mesh with no overruns. And it blocks even the microscopic debris like sand granules and algae!
                    </blockquote>
                </li>
            </ul>

            <p>
                Or here’s what award-winning handymen Tim Carter, 
                founder of AsktheBuilder said about GutterEx after 
                <strong>he tested it on his own roof:</strong>
            </p>

            <div class="article-video">
                <video class="js-player" poster="./images/video-poster.jpg" playsinline controls>
                    <source src="./video/1.mp4" type="video/mp4" />
                </video>
            </div>

            <a class="btn btn-primary btn-block" href="https://gutter-ex.com/product-4/index.html">LEARN MORE ABOUT "GUTTEREX"</a>
        </div>
    </div>
</main>

@@include('../components/_footer-page.html')
