@@include('../components/_header-page.html', {
    "title": "Unsubscribe"
})

<main class="main-page content-page">
    <div class="container">
        <h1 class="content-page-title text-center">Unsubscribe</h1>
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-5">
                <form id="js_form-unsubscribe">
                    <div class="form-group">
                        <label class="control-label" for="unsubscribe_email">Please enter your Email address:</label>
                        <input class="form-control" name="unsubscribe_email" type="email" id="unsubscribe_email" value="" placeholder="Email"/>
                    </div>
                    <button class="btn btn-primary btn-block text--uppercase" type="submit" id="btn-unsubscribe-submit">Unsubscribe</button>
                </form>
            </div>    
        </div>
    </div>
</main>

@@include('../components/_footer-page.html')