.table {
    margin-bottom: 24px;
    width: 100%;
    font-size: 13px;
    line-height: 1.35;
    letter-spacing: 0.02em;
    color: #1E1E1E;
    background: #fff;

    @media(min-width: $xs) {
        font-size: 14px;
    }

    @media(min-width: $md) {
        margin-bottom: 52px;
        font-size: 19px;
    }

    @media(min-width: $lg) {
        margin-bottom: 88px;
    }

    &_thead {
        background: #FAFAFA;
    }


    &_row {
        display: flex;

        &:nth-child(odd) {

            .table_col {
                background: #EDEDED;
            }
        }

        &:nth-child(even) {

            .table_col {
                background: #FAFAFA;
            }
        }

        &:first-child {

            .table_col {
                font-family: $main-font;
            }
        }
    }

    &_col {
        padding: 2px;
        margin-right: 4px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 43px;

        @media(min-width: $md) {
            padding: 5px;
            margin-right: 10px;
            min-height: 86px;
        }

        strong {
            font-weight: 600;
        }

        &:first-child {
            letter-spacing: 0.03em;

            @media(min-width: $md) {
                min-width: 344px;
            }

            @media(max-width: $smaller-then-xs) {
                font-size: 11px;
            }
        }

        &:not(:first-child) {
            font-family: $second-font;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &_th {
        min-height: 28px;
        font-weight: 700;
        color: #F7F7F7;
        letter-spacing: 0.03em;
        background: #EDEDED;

        @media(min-width: $md) {
            min-height: 81px;
        }

        @media(max-width: 455px) {
            font-size: 10px;
        }

        &-triangle {
            position: relative;
            box-shadow: 0px 4px 12px rgba(30, 30, 30, 0.4);


            &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: -2px;
                right: -2px;
                height: 5px;

                @media(min-width: $md) {
                    height: 13px;
                }

                @media(min-width: $lg) {
                    left: -4px;
                    right: -4px;
                    height: 21px;
                }
            }

            &:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                transform: translateX(-50%);

                @media(min-width: $md) {
                    border-width: 13px 13px 0 13px;
                }

                @media(min-width: $lg) {
                    border-width: 10px 15px 0 15px;
                }
            }
        }

        &--success {
            $bg-success: #00AB46;

            position: relative;
            background: $bg-success !important;
            box-shadow: 0px 4px 12px rgba(30, 30, 30, 0.4);

            &:after {
                border-color: $bg-success transparent transparent transparent;
            }
        }

        &--danger {
            $bg-danger: #E63232;

            position: relative;
            background: $bg-danger !important;
            box-shadow: 0px 4px 12px rgba(30, 30, 30, 0.4);

            &:after {
                border-color: $bg-danger transparent transparent transparent;
            }
        }

        .table_th-icon {
            max-width: 33px;

            @media(min-width: $md) {
                max-width: 37px;
            }

            @media(min-width: $lg) {
                max-width: 60px;
            }
        }
    }

    &--shadow {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            height: 15px;
            background: linear-gradient(179.79deg, #1E1E1E 3.36%, rgba(30, 30, 30, 0) 114.13%);
            opacity: 0.4;
            z-index: -1;
            border-radius: 50%;
            filter: blur(3px);

            @media(min-width: $md) {
                height: 33px;
                filter: blur(8px);
            }

            @media(min-width: $lg) {
                height: 60px;
                filter: blur(14px);
                transform: translateY(-65%);
            }
        }
    }

    .table_icon {
        width: 14px;
        height: 15px;

        @media(min-width: $md) {
            width: 27px;
            height: 31px;
        }
    }
}

